/*----------------------*/
/*--------HEADER--------*/
/*----------------------*/

#header  {
    justify-content:    space-between;
}

    /*----------------------*/
    /*-----HEADER LOGO------*/
    /*----------------------*/

a#logo                  {
    font-size:      1.0rem;
}

/* div#pageFold   { */
    /* background-image:   url(../images/background-photo-mobile.jpg); */
/* } */

#whiteSearchBorder {
    width:              98vw;
}
