<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<!-- <label for="booktitle">Enter a Book Title</label>
	<input type="text" id="booktitle" class="form-control"> -->
	<form action="/search" method="get">
		<input type="text" name="title" autofocus>
		<input type="submit">
	</form>

	{{range .}}
		<p>{{.Title}}
		{{if .Author}}
		 - {{.Author}}
		{{else}}{{end}}
		{{if .Price}}
		  - ${{.Price}}
		{{else}}{{end}}
		{{if .BuyLink}}
		    - <a href="{{.BuyLink}}">Buy</a> 
		{{else}}{{end}}
		 <a href="/delete?urltitle={{.URLtitle}}">Delete</a></p>
	{{end}}
</body>
</html>
